.qualification__container {
    display: flex;
    flex-direction: column;
    align-items: center;
 

}
.qualification__sections{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.qualification {
    border-radius: 1rem;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 50px 100px -20px rgba(45, 45, 46, 0.25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
  
}
.qualification__tabs {
    display: flex;
    justify-content: center;


}


.qualification__btn {
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    color: var(--text-color);
    margin: var(--mb-0-75) var(--mb-1-5);
    cursor: pointer;
    background: none;
}
.btn__active {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color-dark);

}
.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}



.qualification-info {
    display: flex;
    flex-direction: column;
    /* column-gap: 1px; */
    background-color: var(--item-color);
    padding: 0.4rem;
    border-radius: 1rem;
    box-shadow: 0px 0 20px 1px rgba(7, 7, 7, 0.099);
    margin: 10px 0;
    height: fit-content;
}

.listExp{
    list-style: disc;
    margin-left: 20px;
    list-style-position: inside;
}



.qualification__data {
    /* padding-bottom: 30px; */
    display: grid;
    grid-template-columns:  1rem 20rem;
 
    column-gap: 2.5rem;
  
  
 

}
.QualifiGridEx{
    grid-template-columns:  1rem 20rem;
}
.QualifiGridEd{
    grid-template-columns: 20rem 1rem;
}
.qulafiFlex{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.date-col{
    /* background-color: violet; */
    padding-top: 0;
    
}
.qualification__title {
    display: inline-block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    /* margin-bottom: 2%; */
}

.qualification__subtitle {
    
    display: block;
    font-size: var(--small-font-size);
    /* margin-bottom: var(--mb-1); */
    /* right: 0px; */

}




.qualification__rounder {
    display: inline-block;
    position: relative;
    top: 10%;
    width: 12.5px;
    height: 12.5px;
    z-index: 999;
    background-color: rgb(255, 106, 61);
    border-radius: 50%;

}

.qualification__line {
    display: block;
    margin-top: -30px;
    width: 0.2px;
    height: 100%;
    background-color: rgb(182, 181, 181);
    transform: translate(6px, -7px);
   
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .qualification__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

@media screen and (max-width: 576px) {
    .qualification__sections {

        grid-template-columns: initial;
    }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    }
    .qualification__data {
        gap: 1rem;
        margin-left: -2rem;
        grid-template-columns: 0.5rem 15rem;
    }
    /* .date-col{
        position: absolute;
        padding-top: 0;
        left: 4rem;
        padding-right: 2rem;
    }
    .qualification__rounder{
        top: 0;
    }
    .qualification-info{
        margin-top: 4rem;
        width: 18rem;
    } */
}

/* For small devices */
@media screen and (max-width: 400px) {
    .qualification__data {
        gap: 0.5rem;
        margin-left: 0rem;
        grid-template-columns: 0.5rem 14rem;
    }
    /* .date-col{
        position: absolute;
        padding-top: 0;
        left: 4rem;
    }
    .qualification__rounder{
        top: 0;
    }
    .qualification-info{
        margin-top: 4rem;
        width: 14rem;
    } */
}