@import "https://unpkg.com/open-props";

.skills__container {
  grid-template-columns: repeat(auto, 350px);
  column-gap: 3rem;
  justify-content: center;

}

/* .skills__content {
    background-color: rgba(255, 222, 173, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0rem 0.3rem;
    border-radius: 1.25rem;
    background-color: rgb(230, 224, 224);
    
} */


.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}


.skills__box {
  /* display: flex; */
  display: none;

  justify-content: center;
  column-gap: 1.5rem;
  transition: all 0.2s linear;

}

.skills__group {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  column-gap: 0.1rem;
  row-gap: 1.5rem;
  /* transition: all 0.4s cubic-bezier(.63, .15, .03, 1.02); */


}


.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}


.transition-button {
  position: absolute;

  transform: translateY(-10px);
  transition: margin 0.8s ease;
}

.transition-button.top {
  margin: -30px 0 0 0;
}
.top:hover .imgHover1 {
  animation: animateLogos1 0.6s ease-in-out ;
  display: block;
  transform: translate(100px, -100px);
}
@keyframes animateLogos1 {
  0% {
    transform: translate(20px, -10px);
    opacity: 0;
    z-index: -1;
  }

 
  100% {
    transform: translate(100px, -100px);
    opacity: 1;
  }
}

.top:hover .imgHover2 {
  animation: animateLogos2 0.6s ease-in-out ;
  display: block;
  transform: translate(-130px, -50px);
}
@keyframes animateLogos2 {
  0% {
    transform: translate(20px, -10px);
    opacity: 0;
    z-index: -1;
  }

 
  100% {
    transform: translate(-130px, -50px);
  }
}

.top:hover .imgHover3 {
  animation: animateLogos3 0.6s ease-in-out ;
  display: block;
  transform: translate(170px, -70px);
}
@keyframes animateLogos3 {
  0% {
    transform: translate(20px, -10px);
    opacity: 0;
    z-index: -1;
  }

 
  100% {
    transform: translate(170px, -70px);
  }
}
.top:hover .imgHover4 {
  animation: animateLogos4 0.6s ease-in-out ;
  display: block;
  transform: translate(-50px, -100px);
}
@keyframes animateLogos4 {
  0% {
    transform: translate(20px, -10px);
    opacity: 0;
    z-index: -1;
  }

 
  100% {
    transform: translate(-50px, -100px);
  }
}

.top:hover .imgHover5 {
  animation: animateLogos5 0.6s ease-in-out ;
  display: block;
  transform: translate(20px, -110px);
}
@keyframes animateLogos5 {
  0% {
    transform: translate(20px, -10px);
    opacity: 0;
    z-index: -1;
  }

 
  100% {
    transform: translate(20px, -110px);
  }
}













.transition-button.bottom {
  margin: 0 0 -60rem 0;
}



/* .skills__group:hover .skills__data {
    position: relative;
} */
.skills__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0.5rem;
  transition: transform .2s;
  margin: 2px;
  padding: 0.5rem 0;
  /* position: relative; */
  background-color: transparent;
  opacity: 0;
  transform: rotateX(5deg) rotateZ(40deg);
  /* transform-style: preserve-3d; */
  border-radius: 32px;
  box-shadow: 1px 1px 0 1px #f9f9fb00, -1px 0 28px 0 rgb(34 33 81 / 0%), 28px 28px 28px 0 var(--shadowColor);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.skills__data img {
  width: 4rem;
  height: 4rem;
  /* background-color: rgba(255, 255, 255, 0); */
  object-fit: contain;
  border-radius: 0.5rem;
}
.TopSkill{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.skills__Itm{
  display: flex;
  padding: 1rem 0.5rem;
  align-items: center;

  background-color: transparent;
 
  border-radius: 32px;
  box-shadow: 1px 1px 0 1px #f9f9fb00, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
  28px 28px 28px 0 var(--shadowColor);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
}

.skills__Itm img {
  width: 2rem;
  height: 2rem;
  /* background-color: rgba(255, 255, 255, 0); */
  object-fit: contain;
  border-radius: 0.5rem;
}
.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
  text-align: center;
}

.skills__data .line {
  width: 50px;
  height: 2px;
  background-color: lightgray;
  transition: transform .2s;
  box-shadow: 0px 10px 10px #00000042;
}





.skills__data:hover {
  transform: scale(1.3);
  background-color: #fff4e000;
  border: rgba(0, 0, 0, 0.348) solid 0.5px;
  padding: 0.5rem 0;
  width: 70%;
  align-items: center;
  margin: auto;

}

.spane {
  position: absolute;
  border-radius: 100vmax;
}

.skills__data:hover .top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(90deg,
      transparent 50%,
      rgba(76, 49, 255, 0.5),
      rgb(49, 255, 138));
}

.skills__data:hover .bottom {
  right: 0;
  bottom: 0;
  margin-bottom: -0.2rem;
  height: 5px;
  background: linear-gradient(90deg,
      rgb(216, 20, 255),
      rgba(255, 20, 98, 0.5),
      transparent 100%);
}

.skills__data:hover .right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255));
}

.skills__data:hover .left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg,
      rgb(113, 238, 255),
      rgba(125, 113, 255, 0.5),
      transparent 70%);
}

.skills__data:hover .top {
  animation: animateTop 3s ease-in-out infinite;
}

.skills__data:hover .bottom {
  animation: animateBottom 3s ease-in-out infinite;
}

.skills__data:hover .right {
  animation: animateRight 3s ease-in-out infinite;
}

.skills__data:hover .left {
  animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {

  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {

  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {

  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}


.face__Skills {
  font-size: var(--tinty-font-size);

  display: flex;

justify-content: center;
  column-gap: 2px;
  align-items: center;

}
.skil__icon {
  font-size: 1.5rem;

  margin-bottom: var(--mb-0-5);
  transform: translateY(5px);
}
.transition-button:hover .skil__icon{
  animation: animate-arrow-1 1s ease-in-out infinite;
}
.skil2__icon {
  font-size: 1.5rem;
 
  margin-bottom: var(--mb-0-5);
  transform: translateY(5px);
}
.transition-button:hover .skil2__icon{
  animation: animate-arrow-2 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
  0%{transform:translateY(-10px);opacity: 0; scale: 0.5;}
  50%{transform:translateY(0px);opacity: 1;
    scale: 1.4;}
  75%{transform:translateY(10px);opacity: 1;
  scale: 1.2;}
  100%{transform:translateY(20px);opacity: 0.5;
    scale: 1;}
  
}
@keyframes animate-arrow-2 {
  0%{transform:translateY(20px);opacity: 0; scale: 0.5;}
  50%{transform:translateY(0px);opacity: 1;
    scale: 1.4;}
  75%{transform:translateY(-5px);opacity: 1;
  scale: 1.2;}
  100%{transform:translateY(-10px);opacity: 0.5;
    scale: 1;}
  
}
.top__skills {

  background: transparent;
  border-radius: 8px;
  padding: 50px 0;
  width: 200px;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}

.skills__levels {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: conic-gradient(#ff4e4e 3.6deg, #ededed 0deg);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.skills__levels::before {
  content: '';
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px inset, rgba(0, 0, 0, 0.09) 0px 4px 2px inset, rgba(0, 0, 0, 0.09) 0px 8px 4px inset, rgba(0, 0, 0, 0.09) 0px 16px 8px inset, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: var(--body-color);
}

.skill__value {
  position: relative;
  font-size: 30px;
  font-weight: 500;
}

.skill__name {
  font-size: 30px;
  font-weight: 500;
 
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills__group {
    grid-template-columns: repeat(6, 100px);
    row-gap: 2rem;
    padding: 1.2rem;
    overflow: auto;
    height: 20rem;
    background-color: rgba(255, 222, 173, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;

  }
  .skills__data{
    transform: none;
  
  }

  .skills__box{
    margin-bottom: 2.5rem;
  }
  .skills__data:hover {
    transform: none;
    background-color: #fff4e000;
    border: none;
    padding: 0.5rem 0;
    width:96px;
    align-items: center;
    margin: 2px;  
  }
  .transition-button.bottom{
    margin: 0 0 -46rem 0;
  }
  .skills__group::-webkit-scrollbar {
    width: 0.3rem;
   
  }
   
  .skills__group::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .skills__group::-webkit-scrollbar-thumb {
    background-color: rgb(255, 52, 52);
    outline: 1px solid rgba(102, 102, 102, 0.496);
  }
}



@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;

  }
  /* .transition-button.bottom{
    margin: 0px 0 -170% 0;
  } */
  .skills__group{
    grid-template-columns: repeat(3, 100px);
  }
.skill__name{
  font-size: var(--normal-font-size);
}
.skills__levels{
  height: 70px;
  width: 70px;
}
.skills__levels::before{

  height: 60px;
  width: 60px;
}
.skill__value{
  font-size: var(--normal-font-size);
}
  
.top__skills{
  row-gap: 0;
  padding-bottom:0 ;
}
  .skills__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 400px) {
  .skills__box {
    column-gap: 1.25rem;

  }
  /* .transition-button.bottom{
    margin: 0px 0 -190% 0;
  } */
  .skills__group{
    grid-template-columns: repeat(3, 80px);
  }
  .skills__name {
    font-size: var(--small-font-size);
  }

}