
.radial-gradient {
  position:fixed;
  top:110px;
  left:10px;
  height:100%;
  width:100%;
  
  /*Fallback if gradeints don't work */
  background: #030204;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #010305, #010101
    );
}