/* .dsa{
    width: 99%;
    height: 99%;
    margin-top: -10px;
    align-items: center;
    background-color: #00000003;
    position: fixed;
    border: #5b5b5b double 6px;
    

} */
@import "https://unpkg.com/open-props";


.profi{
    position: fixed;
    right: -20rem;
    top: 7rem;
    padding: 0.5rem;
    display: none;
    transition: right 0.7s ease-in;
    border-radius: 0 2rem 0 0;
    z-index: 999;
}
.btnTog{
    width: 2rem;
    height: 100%;
    position: absolute;
    left: -2rem;
    font-size: 30px;
    color: #f5f5f5;
    top: 0;
    border-radius: 1rem 0 0 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: -11px -4px 10px -8px #1e1e1e;
    /* background-color: rgba(27, 27, 27, 0.57); */
    background: linear-gradient(322deg, rgb( 246 220 206 / 100%) 0.5%, rgb(30 30 30 / 100%) 120.5%);
}

.show-CardP{
    display: block;

    width: 20rem;
    height: 40rem;
   
    box-shadow: 4px -4px 10px -8px #1e1e1e;
    /* background-color: rgb(30 30 30); */
    background: linear-gradient(144deg, rgb(243 220 208) 30%, rgb(30 30 30) 30%);
   
    animation: profil 3s ease-in-out;
    animation-delay: 0s;
}


.flt_svg {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
    border: #000000 double 2px;
}

.box_parent {
    filter: url('#flt_tag');
}

.profi .ds-top {
    position: absolute;
    border-radius: 1rem;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 99%;
    height: 110px;
    background: crimson;
    animation: dsTop 1.5s;
}

.profi .avatar-holder {
    position: relative;
    margin: auto;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    box-shadow: -7px 9px 19px 0px #ff6a3d4f;
   
    overflow: hidden;
    animation: mvTop 1.5s;
}

.profi .avatar-holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profi .name {
    position: relative;

    background: -webkit-linear-gradient(134deg, rgb(243 220 208) 78%, rgb(30 30 30) 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: var(--big-font-size);
    font-weight: 500;
    
    margin-top: -1rem;
    font-family: 'Dancing Script';
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.subName{
    font-family: 'unicons-line';
    text-align: center;
    color: rgb(210, 210, 210);
}
hr{
    width: 70%;

    margin:3px auto;
}
.profi .ds-info {
    position: relative;
    margin: 0.7rem auto 0;
    width:80%;
    background-color: rgba(12, 74, 129, 0);
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profi .ds-info .ds-info-detail  {
    position: relative;
    left: -300px;
    width:100%;
 
    margin-bottom: var(--mb-0-25);
    font-family: --body-font;
 text-align: justify;
    font-size:23px;
    font-weight: 8rem;
    color: rgb(210, 210, 210);

    display: flex;
 align-items: center;
 gap: 1rem;
    flex-direction: row;
    animation: fadeInMove 2s;
    animation-fill-mode: forwards;
}


.ds-info-icon {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}


.profi .ds-info .ds:nth-of-type(2) {
    animation-delay: 0.5s;
}

.profi .ds-info .ds:nth-of-type(1) {
    animation-delay: 1s;
}

.profi .ds-skill {
    margin: 1.5rem 0.5rem;
    padding: 0.1rem 0 0 0.2rem;
    
    background: #e8e8e8;
    display: flex;
    box-shadow: -50px -50px 7px -40px rgb(255, 106, 61), 50px 50px 7px -40px rgb(255, 106, 61);
    flex-direction: column;
  
    border-radius: 1rem;
    animation: mvBottom 1.5s;
}

.profi .ds-skill h6 {
    margin: 0.1rem;
    font-size:23px;
    font-weight: 8rem;
    font-family: --body-font;

    text-transform: uppercase;
    color: crimson;
}

.profi .ds-skill .skill h6 {
    font-size:16px;
    font-weight: 8rem;
    font-family: --body-font;
    letter-spacing: 0.05em;
    margin: 0.3rem 0 0;
    color:var(--title-color-dark);
}

.profi .ds-skill .skill .fab {
    color: #5831d8;
    font-size: 14px;
}

.profi .ds-skill .skill .bar {
    height: 0.25rem;
    

    background-color: var(--title-color-dark);
    text-align: right;

   
}
.profi .ds-skill .skill .bar p {
        color: var(--title-color-dark);
        font-size: 16px;
        padding-bottom: 0.1rem;
        animation: fadeIn 5s;
    }
.profi .ds-skill .skill .bar:hover {
    background:var(--title-color);
}

.profi .ds-skill .skill .bar-html {
    width: 80%;
    
    animation: htmlSkill 1s;
    animation-delay: 0.4s;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.profi .ds-skill .skill .bar-css {
    width: 75%;
    animation: cssSkill 2s;
    animation-delay: 0.4s;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.profi .ds-skill .skill .bar-js {
    width: 90%;
    animation: jsSkill 3s;
    animation-delay: initial;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@keyframes profil {
    0% {
        opacity: 0;
right: -25rem;
    }

    50% {
        opacity: 1;
        right: -9rem;
    }

    100% {
        opacity: 1;
right: -20rem;
    }
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        left: -30px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes htmlSkill {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes cssSkill {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes jsSkill {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes mvBottom {
    0% {
        bottom: -150px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes mvTop {
    0% {
        top: -150px;
    }

    100% {
        top: 40
    }
}

.downCV {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    border-radius: 1rem;
    font-weight: var(--font-medium);
    padding: 1rem 0.5rem;
    text-align: center;
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
    position: relative;
    bottom: 0.5rem;
    margin: auto;
    margin-top: 10%;
  }
  
  .downCV:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
  }
  
  .downCV:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
  }
  
  .downCV:before {
    content: "";
    position: absolute;
    inset: calc(var(--size-3) * -1);
    border: var(--size-1) solid #d88d31 ;
    box-shadow: 0px 10px 99px rgb(1, 1, 1);
    transform: scale(var(--border-scale, 0));
    transition: transform 0.125s;
    
    --angle-one: 105deg;
    --angle-two: 290deg;
    --spread-one: 30deg;
    --spread-two: 40deg;
    --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
    --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
    --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
    --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));
    
    mask: conic-gradient(
      transparent 0 var(--start-one),
      rgb(5, 5, 5) var(--start-one) var(--end-one),
      transparent var(--end-one) var(--start-two),
      rgb(0, 0, 0) var(--start-two) var(--end-two),
      transparent var(--end-two)
    );
    
    z-index: -1;
  }

  @media (max-width: 992px) {
    .profi .name {

        background: -webkit-linear-gradient(127deg, rgb(243 220 208) 74%, rgb(30 30 30) 30%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
  @media (max-width: 500px) {
    .show-CardP {
     width: 16rem;
     height: 35rem;


    

    }
    .profi{
        top: 2rem;
    }
    .profi .ds-info {
        margin: 0;
        width: 100%;
    }
    .profi .name{
        
        background: -webkit-linear-gradient(134deg, rgb(243 220 208) 73%, rgb(30 30 30) 30%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      
    }
    .profi .avatar-holder{
        width: 10rem;
        height: 10rem;
    }
    .profi .ds-skill{
        margin: 1rem 0.2rem;
    }
    .downCV{
        padding: 0.5rem;
    }
    .profi .ds-skill .skill h6{
        font-size: 13px;
    }


    @keyframes profil {
        0% {
            opacity: 0;
    right: -17rem;
        }
    
        50% {
            opacity: 1;
            right: -5rem;
        }
    
        100% {
            opacity: 1;
    right: -16rem;
        }
    }




  }