/* .dsa{
    width: 99%;
    height: 99%;
    margin-top: -10px;
    align-items: center;
    background-color: #00000003;
    position: fixed;
    border: #5b5b5b double 6px;
    

} */
@import "https://unpkg.com/open-props";
.profily {
    /* border: ridge black 2px; */
    top: 15%;
    width: 100%;
    height: 80vh;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);

    position: sticky;
    padding-top: 10%;



    background-color: rgb(245, 244, 244);

    /* margin: auto 20px; */

    animation: profil 3s;
    animation-delay: 0.4s;
}


.flt_svg {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
    border: #000000 double 2px;
}

.box_parent {
    filter: url('#flt_tag');
}

.profily .ds-top {
    position: absolute;
    border-radius: 1rem;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 99%;
    height: 110px;
    background: crimson;
    animation: dsTop 1.5s;
}

.profily .avatar-holder {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: -7px 9px 19px 0px #ff6a3d4f;
    background: #f5f4f4;
    overflow: hidden;
    animation: mvTop 1.5s;
}

.profily .avatar-holder img {
    width: 200%;
    height: 100%;
    object-fit: fill;
}

.profily .name {
    position: relative;



    color: rgb(1, 1, 1);
    text-decoration: none;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    /* white-space: nowrap;  */
    font-family: 'Dancing Script';
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.subName{
    font-family: 'unicons-line';
    text-align: center;
    color: rgb(111 111 111);
}
hr{
    width: 70%;

    margin:3px auto;
}
.profily .ds-info {
    position: relative;
    margin: 0 auto;
    width:80%;
    background-color: rgba(12, 74, 129, 0);
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profily .ds-info .ds-info-detail  {
    position: relative;
    left: -300px;
    width:100%;
 
    margin-bottom: var(--mb-0-25);
    font-family: --body-font;
 text-align: justify;
    font-size:23px;
    font-weight: 8rem;
    color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    animation: fadeInMove 2s;
    animation-fill-mode: forwards;
}





.profily .ds-info .ds:nth-of-type(2) {
    animation-delay: 0.5s;
}

.profily .ds-info .ds:nth-of-type(1) {
    animation-delay: 1s;
}

.profily .ds-skill {
    margin: 2.5%;
    padding: 1% 0 0 2%;
    position: relative;
    background: #e5e5e5;
    display: flex;
    box-shadow:
    -50px -50px 0 -40px rgb(255, 106, 61),
    50px 50px 0 -40px rgb(255, 106, 61);
    flex-direction: column;
    /* margin: auto; */
    width: 95%;
    border-radius: 1rem ;
    
    animation: mvBottom 1.5s;
}

.profily .ds-skill h6 {
    margin-bottom: 5px;
    font-size:23px;
    font-weight: 8rem;
    font-family: --body-font;

    text-transform: uppercase;
    color: crimson;
}

.profily .ds-skill .skill h6 {
    font-size:16px;
    font-weight: 8rem;
    font-family: --body-font;
    letter-spacing: 0.05em;
    margin: 4px 0;
    color: rgb(17, 17, 17);
}

.profily .ds-skill .skill .fab {
    color: #5831d8;
    font-size: 14px;
}

.profily .ds-skill .skill .bar {
    height: 5px;
    

    background: #000000;
    text-align: right;

   
}
.profily .ds-skill .skill .bar p {
        color: rgb(7, 7, 7);
        font-size: 16px;
        padding-top: 5px;
        animation: fadeIn 5s;
    }
.profily .ds-skill .skill .bar:hover {
    background: rgb(5, 5, 5);
}

.profily .ds-skill .skill .bar-html {
    width: 80%;
    animation: htmlSkill 1s;
    animation-delay: 0.4s;
}

.profily .ds-skill .skill .bar-css {
    width: 75%;
    animation: cssSkill 2s;
    animation-delay: 0.4s;
}

.profily .ds-skill .skill .bar-js {
    width: 90%;
    animation: jsSkill 3s;
    animation-delay: initial;
}

@keyframes profil {
    0% {
        width: 0;

    }

    100% {
        width: 100%;
    }
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        left: -300px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes htmlSkill {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes cssSkill {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes jsSkill {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes mvBottom {
    0% {
        bottom: -150px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes mvTop {
    0% {
        top: -150px;
    }

    100% {
        top: 40
    }
}

.downCV {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    /* padding: 1.25rem 2rem; */
    border-radius: 1rem;
    font-weight: var(--font-medium);
    color: rgb(254, 254, 254);
    background: #0c0808ed;
    /* backdrop-filter: blur(10px); */
    width: 50%;

    padding: 6px ;
    text-align: center;
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
    position: relative;
    bottom: 10px;
    margin: auto;
    margin-top: 10%;
  }
  
  .downCV:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
  }
  
  .downCV:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
  }
  
  .downCV:before {
    content: "";
    position: absolute;
    inset: calc(var(--size-3) * -1);
    border: var(--size-1) solid #d88d31 ;
    box-shadow: 0px 10px 99px rgb(1, 1, 1);
    transform: scale(var(--border-scale, 0));
    transition: transform 0.125s;
    
    --angle-one: 105deg;
    --angle-two: 290deg;
    --spread-one: 30deg;
    --spread-two: 40deg;
    --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
    --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
    --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
    --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));
    
    mask: conic-gradient(
      transparent 0 var(--start-one),
      rgb(5, 5, 5) var(--start-one) var(--end-one),
      transparent var(--end-one) var(--start-two),
      rgb(0, 0, 0) var(--start-two) var(--end-two),
      transparent var(--end-two)
    );
    
    z-index: -1;
  }