.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
overflow-x: hidden;
  position: absolute;
  z-index: -9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 60rem;
  height: 60rem;
  filter: blur(50px);

  background: radial-gradient(circle, rgba(255,106,61,0.5) 0%, rgba(235,235,235,0) 100%);  border: none;
}

.cursor-dot-outline {
  width: 60rem;
  height: 60rem;
  filter: blur(50px);

  background: radial-gradient(circle, rgba(255,106,61,0.5) 0%, rgba(235,235,235,0) 100%);  border: none;
}
